:root {
    --bg-color: #fff;
    --bg2-color: rgb(236, 236, 236);
    --bg3-color: #fff9;
    --color: #252525;
    --color2: #fff;
    --shadow-color: #9993;
    --display-word: visible;
    --display-phonetic: visible;
    --display-translation: hidden;
    --display-aeiouy: none;
    --display-yuan: var(--color);
    --display-fu: var(--color);
    --word-s: 8rem;
    --phonetic-s: 2rem;
    --translation-s: 2rem;
    --word-s-h: 1rem;
    --phonetic-s-h: 1rem;
    --translation-s-h: 1rem;
}

html {
    width: 100%;
    height: 100%;
    color: var(--color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-button {
    display: none;
}

.nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 16px 0 16px 0;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0 0 10px;
}

.nav-item {
    list-style: none;
    margin: 0 8px 0 8px;
    padding: 11px 0 11px 0;
    cursor: pointer;
}

#nav2 {
    display: flex;
    padding: 0;
    margin: 8px 0;
    background-color: var(--bg-color);
    overflow-x: auto;
    flex-shrink: 0;
}
#nav2::-webkit-scrollbar {
    display: none;
}

#nav2 > li {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 4px;
    font-size: 1rem;
    width: 40px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.nav2-li-h {
    color: var(--color2);
    background: var(--color);
    border-radius: 10px;
}

#dropdown {
    border: none;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--color);
    margin-left: 8px;
    outline: none;
}

#playC {
    border: none;
    background-color: var(--bg-color);
    width: 30px;
    height: 30px;
}

#main {
    width: 100%;
    margin-top: 80px;
    padding: 0 80px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow-y: auto;
}

.cx {
    background-color: #eee;
    border-radius: 1rem;
    padding: 0 8px;
}

#List {
    position: fixed;
    transform: translateX(-101%);
    top: 0;
    bottom: 0;
    color: var(--color);
    background-color: var(--bg3-color);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    box-shadow: 8px 0px 20px 0px var(--shadow-color);
    padding: 16px 0 0 0;
}

#control {
    display: flex;
    flex-direction: column;
}

#leftList {
    overflow-y: scroll;
}

.llul {
    padding: 0;
}

#word {
    visibility: var(--display-word);
}
#phonetic {
    visibility: var(--display-phonetic);
}
#translation {
    visibility: var(--display-translation);
}
#spellN {
    border: none;
    outline: none;
    background-color: var(--bg2-color);
}

.yuan {
    /* color: #34A353; */
    color: var(--display-yuan);
}

.fu {
    /* color: #87a8d6; */
    color: var(--display-fu);
}

.aeiouy {
    /* text-decoration: underline; */
    text-decoration: var(--display-aeiouy);
}

#bing {
    width: 100%;
    height: 0;
    border: none;
    flex-grow: 1;
}

#spellWord {
    width: 90%;
    height: 60px;
    border: none;
    border-bottom: solid 2px var(--shadow-color);
    background-color: var(--bg-color);
    margin: 1rem;
    font-size: 4rem;
    padding: 0 0 10px 30px;
}

#spellWord:focus {
    outline: none;
}

#Sword {
    width: 90%;
    font-size: 8rem;
    text-align: center;
}

#Sphonetic {
    font-size: 2rem;
}

#Stranslation {
    text-align: center;
    font-size: 2rem;
    width: 90%;
    line-height: 1.5;
}

@media (max-width: 900px) {
    :root {
        --word-s: 4rem;
        --phonetic-s: 1.6rem;
        --translation-s: 1.6rem;
        --word-s-h: 1rem;
        --phonetic-s-h: 1rem;
        --translation-s-h: 1rem;
    }
    .nav {
        padding: 8px 0 8px 0;
    }

    .cx {
        border-radius: 10px;
    }

    #main {
        padding: 0 8px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --color: #dadada;
        --bg2-color: #444;
        --bg3-color: #0009;
        --shadow-color: #6663;
        --color2: #000;
    }

    .cx {
        background-color: #333;
    }

    label {
        color: #fff;
    }
}
