:root {
    --bg-color: #fff;
    --bg2-color: rgb(236, 236, 236);
    --bg3-color: #fff9;
    --color: #252525;
    --color2: #fff;
    --shadow-color: #9993;
    --display-word: visible;
    --display-phonetic: visible;
    --display-translation: hidden;
    --display-aeiouy: none;
    --display-yuan: var(--color);
    --display-fu: var(--color);
    --word-s: 8rem;
    --phonetic-s: 2rem;
    --translation-s: 2rem;
    --word-s-h: 1rem;
    --phonetic-s-h: 1rem;
    --translation-s-h: 1rem;
    --main-div-height: 100%;
    --spacing: 0.1em;
    --not-spell: 1fr 0;
}

html {
    width: 100%;
    height: 100%;
    color: var(--color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-button {
    display: none;
}

.nav {
    position: relative;
    display: flex;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 16px 0 16px 0;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0 0 10px;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 0 8px 0 8px;
    padding: 11px 0 11px 0;
    cursor: pointer;
}

#nav2 {
    display: flex;
    padding: 0;
    margin: 8px 0;
    background-color: var(--bg-color);
    overflow-x: auto;
    flex-shrink: 0;
}
#nav2::-webkit-scrollbar {
    display: none;
}

#nav2 > li {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 4px;
    font-size: 1rem;
    width: 40px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.nav2-li-h {
    color: var(--color2);
    background: var(--color);
    border-radius: 10px;
}

#dropdown {
    border: none;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--color);
    margin-left: 8px;
    outline: none;
}

#spacing {
    -webkit-appearance: none;
    border-radius: 10px;
    background: var(--bg2-color);
    margin: 0;
}

#spacing::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--color);
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

#main {
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#main > div {
    scroll-snap-align: center;
    height: var(--main-div-height);
}
word-card {
    display: grid;
    grid-template-columns: var(--not-spell);
    grid-template-rows: auto 1fr;
    height: 100%;
}

word-card div {
    transition: 0.5s;
}

word-card #word_bar {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
}

word-card #n {
    -webkit-appearance: none;
    background-size: 75% 100%;
    border-radius: 10px;
    background: linear-gradient(var(--color), var(--color)) no-repeat, var(--bg2-color);
    margin: 0;
}

word-card #n::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
}

word-card #word_bar {
    margin-top: 16px;
}

word-card #word_bar > button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--bg2-color);
    border: none;
}

word-card #word-main {
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

word-card #word-main > #more {
    font-size: 2rem;
    overflow-y: auto;
}

word-card #word_spell {
    overflow: hidden;
    transition: 0.3s;
}

.cx {
    background-color: #eee;
    border-radius: 1rem;
    padding: 0 8px;
}

#List {
    position: fixed;
    transform: translateX(-101%);
    top: 0;
    bottom: 0;
    z-index: 3;
    color: var(--color);
    background-color: var(--bg3-color);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    box-shadow: 8px 0px 20px 0px var(--shadow-color);
    padding: 16px 0 0 0;
}

#control {
    display: flex;
    flex-direction: column;
}

#leftList {
    overflow-y: scroll;
}

.llul {
    padding: 0;
}

#word {
    visibility: var(--display-word);
}
#phonetic {
    visibility: var(--display-phonetic);
}
#translation {
    visibility: var(--display-translation);
}

input {
    border: none;
    outline: none;
    background-color: var(--bg2-color);
    margin: 8px;
}

.yuan {
    /* color: #34A353; */
    color: var(--display-yuan);
}

.fu {
    /* color: #87a8d6; */
    color: var(--display-fu);
}

.aeiouy {
    /* text-decoration: underline; */
    text-decoration: var(--display-aeiouy);
}

.syllable {
    box-shadow: 0 8px var(--color);
}

.syllable_s {
    width: var(--spacing);
    display: inline-block;
}

.other_dic {
    color: var(--color);
}

#bing {
    width: 100%;
    height: 0;
    border: none;
    flex-grow: 1;
}

#spellWord {
    width: 90%;
    /* height: 60px; */
    border: none;
    border-bottom: solid 2px var(--shadow-color);
    background-color: var(--bg-color);
    /* margin: 1rem; */
    /* font-size: 4rem; */
    padding: 0 0 10px 30px;
}

#spellWord:focus {
    outline: none;
}

@media (max-width: 900px) {
    :root {
        --word-s: 4rem;
        --phonetic-s: 1.6rem;
        --translation-s: 1.6rem;
        --word-s-h: 1rem;
        --phonetic-s-h: 1rem;
        --translation-s-h: 1rem;
    }
    .nav {
        padding: 8px 0 8px 0;
    }

    .cx {
        border-radius: 10px;
    }

    #main {
        padding: 0 8px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --color: #dadada;
        --bg2-color: #444;
        --bg3-color: #0009;
        --shadow-color: #6663;
        --color2: #000;
    }

    .cx {
        background-color: #333;
    }

    label {
        color: #fff;
    }
}
